@font-face {
    font-family: 'Mikodacs';
    src: url('./fonts/Mikodacs.woff2') format('woff2');
}

* {
    font-family: 'Mikodacs', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #1a1210;
    -webkit-touch-callout: none;
    overflow: auto;
}